html
  head
    title hexlet-fastify
  body
    header
      h1 hexlet-fastify
      nav
        ul
          li
            a(href='/') Main page
          li
            a(href='/users') Users
          li
            a(href='/hello') Greetings

    main
      block content

    footer
      block footer